.navbar-fixed .today-event{
	padding: 10px;
	border-bottom: 1px solid gray; 
}
.navbar-fixed .today-event p{
	line-height: 1px;
	text-align: center;
}
.navbar-fixed .today-event .date{
	font-size: 30px;
}
.navbar-fixed .today-event .event-name{
	height: 40px;
	background-color: #00acc1;
	font-size: 20px;
	padding: 0 20px 0 20px;
}
.time-list{
	margin-top: 70px;
}
.time-list a{
	border-bottom: 1px gray;
}
.time-list .collection-item p{
	color: #000;
}
.time-list .collection-item .event{
	background-color: #00acc1;
	padding: 0 20px 0 20px;
}
.time-list .collection-item .event p{
	color: #fff;
}